src/TextDemo.java

.classpath

.project

.settings/org.eclipse.jdt.core.prefs

bin/.DS_Store

src/.DS_Store

.DS_Store

*.class

*.class

*.class

bin/GUI/Constants.class

bin/GUI/MainWindowGUI$1.class

bin/GUI/MainWindowGUI.class

bin/data/JsonTest.class

bin/data/Position.class

bin/data/Prediction.class

bin/data/Trip.class

bin/data/TripList.class
